* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.header{
    display: flex;
    background-color: #267dd4;
    color: white;
    justify-content:space-evenly;
    font-size: 25px;
    word-spacing: 50px;
}

.about_section{
    display: flex;
    flex-wrap: wrap;
}

.about_section .left_profile{
    flex: 0 0 250px;
    width: 250px;
    background-color:darkgray;
    justify-content: space-evenly;
    text-align: center;
}

.about_section .right_profile{
    flex: 0 0 calc(100% - 250px);
    width: calc(100% - 250px);
}

.footer{
    display: flex;
    background-color:rgb(51, 59, 66);
    color: white;
    justify-content: space-evenly;
    text-align: center;
}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.image_profile img{
    width: 150px;
    height: auto;
    border-radius: 100%;
    padding: 20px;
}

.logo_image img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 10px;
}

.details{
    justify-content: space-evenly;
    word-spacing: 30px;
    font-family: fangsong;
}

.about_details{
    padding: 20px;background-color: burlywood;
}

.about_us{
    font-size: 20px;
    font-family: cursive;
}

.copyright{
    font-family: monospace;
}

.about_text {
    background-image: url(../images/1.jpg);
}
.about_text h3{
    color:darkblue;
}

.about_text p{
    color:darkslateblue;
}